.au-view, .s-view {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 98vw;
}

@media(max-width:880px){
    .au-view{
      flex-direction:column;
      align-items:center;
      max-width: 90vw;
    }
  }

.myspace-card {
    display: flex;
    margin: 1.5rem;
    padding: 1rem;
    flex-direction: column;
    align-items: left;
    background: lightgray;
    border: 5px outset darkgray;
    justify-content: space-between;
    height: 90%;
    min-width: 45%;
}

.myspace-card a {
    color: #3b5482;
}

.myspace-card a:hover {
    color: orange;
    cursor: pointer;
}

.motto {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: bold;
}

.myspace-header {
    display: flex;
    font-size: 1rem;
    justify-content: flex-start;
    flex: wrap;
}

.myspace-header ul {
    list-style-position: inside;
    margin-left: 0.75em;
    text-align: left;
}

.headshot {
    border: white solid 2px;
    width: 100%;
    max-width: 12rem;
    margin-right: -3rem;
    height: auto;
    object-fit: cover;
}

.myspace-card li {
    list-style-type: none;
}

.myspace-social {
    font-size: 1.4rem;
}

.myspace-portfolio {
    font-size: 1.4rem;
}

.myspace-details, .myspace-interests {
    background-color:white;
    border: 2px solid darkgray;
    font-size: 0.8rem;
}

.table-header {
    border: 2px solid darkgray;
    background-color: #5ca4db;
    margin: 0;
    font-weight: bolder;
    color: white;
}

.details-table, .interests-table {
    margin: 5px 1px;
    border: 2px solid darkgray;
}
  
.row {
    display: flex;
}

.title-column {
    background-color: #78bbf5;
    flex: 40%;
    color: #1951c2;
    border: 1.5px solid white;
    font-weight: bolder;
}

.answer-column {
    background-color: #a6d0f5;
    flex: 60%;
    border: 1.5px solid white;
}
.sources-container {
    width: 50vw;
    height: 80vh;
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    border: 5px outset darkgray;
}

.sources-board {
    background: white;
    border: 3px outset darkgray;
    flex: 1;
    width: 46vw;
    margin-bottom: 5px;
    overflow: scroll;
    -ms-overflow-style: none;  /* No scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;  /* No Scroll bar in Firefox */
}

.sources-board::-webkit-scrollbar { 
    display: none;  /* No scroll bar in Safari and Chrome */
    width: 0;
    height: 0;
}

.sources-board ul {
    padding-left: 5px;
}
.sources-board li {
    list-style-type: none;
    margin: 3px 0;
}

.sources-title {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: -1.5px !important;
    margin-bottom: 5px;
    width: 50vw;
}

.title-name {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0,0,0,.3);
}
