main {
    padding: 0;
}

.cr-view {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100%;
    width: 100vw;
}

.container {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    border: 5px outset darkgray;
}

.cr-container {
    width: 60vw;
    min-height: 80vh;
    max-height: 85vh;
}

.se-container, .es-container {
    width: 30rem;
    height: 15rem;
}
.lcr-container {
    width: 30rem;
    height: 13rem;
}

.so-container {
    width: 20rem;
    height: 25rem;
}

.title {
    margin: 5px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.cr-title {
    width: 60vw;
}

.se-title, .lcr-title, .es-title {
    width: 30rem;
}

.so-title {
    width: 20rem;
}

.title-name {
    color: white;
    font-size: 1.2rem;
    margin-left: 5px;
}

.title-x {
    height: 50%;
    align-self: center;
    font-size: large;
    border: 1px outset darkgray;
    margin-right: 5px;
    outline: none;
}

.board {
    background: white;
    border: 3px outset darkgray;
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;  /* No scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;  /* No Scroll bar in Firefox */
}

.board::-webkit-scrollbar { 
    display: none;  /* No scroll bar in Safari and Chrome */
    width: 0;
    height: 0;
}

.m-board {
    width: 56vw;
}

.se-board, .lcr-board {
    width: 26rem;
    margin-bottom: 5px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.es-board {
    width: 26rem;
    margin-bottom: 5px;
}

.es-board input {
    background: none;
    outline: none;
    padding: 2px;
    border: none;
}

.es-board input:hover {
    cursor: pointer;
}

.so-board {
    width: 17rem;
    margin-bottom: 5px;
}

.so-board input {
    padding: 0;
}

hr {
    margin: 4px 0;
}

.messages { 
    list-style-type: none; 
    width: 56vw; 
    margin: 0; 
    padding: 0; 
    background: white;
}

.messages li { 
    padding: 3px 5px; 
    text-align: left;
}
  
.cr-form { 
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-edit-btns, .footer-btns {
    display: flex;
    justify-content: space-between;
    width: 56vw;
}

.text-edit-btns span {
    padding: 0 5px;
    font-size: 1.4rem;
}

.text-edit-btns input, .footer-btns input {
    padding: 0 5px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
}

#bold-btn {
    font-weight: bolder;
}

#italics-btn {
    font-style: italic;
}

#underline-btn {
    text-decoration: underline;
}

#smaller-btn {
    font-size: 1rem;
}

#normal-btn {
    font-size: 1.4rem;
}

#larger-btn {
    font-size: 1.8rem;
}

#font-color-btn {
    color: blue;
}

#background-color-btn {
    background: blue;
}

#link-btn {
    text-decoration: underline;
    color: blue;
}

.cr-form #message { 
    background: white;
    border: 3px outset darkgray; 
    margin: 0;
    padding: 0;
    width: 56vw; 
    height: 4rem;
    outline: none;
}

.cr-form button { 
    text-align: right; 
    background: none;
    border: none; 
    padding: 10px; 
    align-self: flex-end;
    outline: none;
}

.cr-form button:hover {
    cursor: pointer;
}

.soundEnabler {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    border: 5px outset darkgray;
    outline: none;
}

.se-container {
    position: absolute;
    bottom: auto;
}

.lcr-container, .so-container, .es-container {
    position: absolute;
    bottom: auto;
}

.lcr-board div, .se-board div, .so-board div {
    margin: 0 0.5rem;
}

.lcr-board a {
    color: inherit;
    text-decoration: none;
    margin: 0.5rem;
    font-size: 1.4rem;
}

.lcr-board button, .se-board button, .so-board input, .so-board button {
    outline: none;
    background: none;
    border: none;
    margin: 0.25rem;
    font-size: 1.4rem;
}

.lcr-board a:hover, .lcr-board button:hover, .se-board button:hover, .so-board input:hover, .so-board button:hover {
    color: orange;
    cursor: pointer;
}

