main {
    padding: 0;
}

.view {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.chatroom-container, .users-container, .soundEnabler-container {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: lightgray;
    border: 5px outset darkgray;
}

.chatroom-container {
    width: 400px;
    height: 80vh;
}

.users-container {
    width: 200px;
    height: 80vh;
}

.soundEnabler-container {
    width: 200px;
    height: 35vh;
}

.cr-title, .u-title, .se-title {
    margin: 5px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
}

.cr-title {
    width: 390px;
}

.u-title, .se-title {
    width: 190px;
}

.title-name {
    color: white;
    font-size: 12px;
    margin-left: 5px;
}

.title-x {
    height: 50%;
    align-self: center;
    font-size: large;
    border: 1px outset darkgray;
    margin-right: 5px;
    outline: none;
}

.message-board, .u-board, .se-board {
    background: white;
    border: 3px outset darkgray;
    flex: 1;
    overflow: scroll;
    -ms-overflow-style: none;  /* No scrollbar in Internet Explorer 10+ */
    scrollbar-width: none;  /* No Scroll bar in Firefox */
}

.message-board {
    width: 360px;
}

.u-board, .se-board {
    width: 160px;
    margin-bottom: 5px;
}

.message-board::-webkit-scrollbar, .u-board::-webkit-scrollbar, .se-board::-webkit-scrollbar { 
    display: none;  /* No scroll bar in Safari and Chrome */
    width: 0;
    height: 0;
}

.messages { 
    list-style-type: none; 
    width: 360px; 
    height: 100%;
    margin: 0; 
    padding: 0; 
    background: white;
}

.messages li { 
    padding: 3px 5px; 
}
  
.cr-form { 
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.text-edit-btns, .footer-btns {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
}

.text-edit-btns input, .footer-btns input {
    padding: 0 5px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

#bold-btn {
    font-weight: bolder;
}

#italics-btn {
    font-style: italic;
}

#underline-btn {
    text-decoration: underline;
}

#smaller-btn {
    font-size: 10px;
}

#normal-btn {
    font-size: 14px;
}

#larger-btn {
    font-size: 18px;
}

#font-color-btn {
    color: blue;
}

#background-color-btn {
    background: blue;
}

#link-btn {
    text-decoration: underline;
    color: blue;
}

.cr-form #message { 
    background: white;
    border: 3px outset darkgray; 
    margin: 0;
    padding: 0;
    width: 360px; 
    height: 40px;
    outline: none;
}

.cr-form button { 
    width: 200px;
    text-align: right; 
    background: lightgray;
    border: none; 
    padding: 10px; 
    align-self: flex-end;
    outline: none;
}

.cr-form button:hover {
    cursor: pointer;
}

.soundEnabler {
    position: absolute;
    bottom: 0;
    right: 2rem;
    border: 5px outset darkgray;
    outline: none;
}

.soundEnabler-container {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
}

.se-board span {
    text-align: center;
}