.l-view {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100%;
    width: 100vw;
}

.container {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: lightgray;
    border: 5px outset darkgray;
    text-align: center;
}

.l-container {
    width: 60vw;
    height: auto;
}

.login-title {
    margin: 5px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.title-name {
    color: white;
    font-size: 1.2rem;
    margin-left: 5px;
}

.r-container {
    width: 50vw;
    height: 60%;
    position: absolute;
    bottom: auto;
}

.r-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    width: 46vw;
    margin: 10px;
    text-align: center;
}

.r-board div {
    margin: 10px 5px;
}

.r-container form, .l-container form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
}

form input {
    border: 3px inset darkgray;
    margin: 5px;

}

form button {
    border: 3px inset darkgray;
    margin: 5px;
    width: auto;
    padding: 2px 20px;
    align-self: center;
    outline: none;
}

.title {
    margin: 5px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
}

.r-title {
    width: 50vw;
}

.register-btn {
    outline: none;
    background: none;
    border: none;
}

.register-btn:hover {
    cursor: pointer;
    color: orange;
}

.auth-failure-msg {
    color: darkred;
}

.auth-success-msg {
    color: darkgreen;
}

.paper-gif {
    width: 35vw;
    height: auto;
    margin: 15px;
    border: 3px inset darkgray;
}