.l-view {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100%;
    width: 100vw;
}

.container {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: lightgray;
    border: 5px outset darkgray;
}

.l-container {
    width: 80vw;
    height: 90%;
}

.r-container {
    width: 45vw;
    height: 65%;
    position: absolute;
    bottom: auto;
}

.r-board {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 40vw;
    margin: 10px;
}

.r-board div {
    margin: 10px;
}

.r-container form, .l-container form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 80%;
}

.title {
    margin: 5px;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
    display: flex;
    justify-content: space-between;
}

.r-title {
    width: 44vw;
}

.register-btn {
    outline: none;
    background: none;
    border: none;
}

.register-btn:hover {
    cursor: pointer;
    color: orange;
}

.auth-failure-msg {
    color: darkred;
}

.auth-success-msg {
    color: darkgreen;
}