.app-chatbot-container {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 2vh;
  bottom: 7vh;
  z-index: 9999;
  background: lightgray;
  border: 5px outset darkgray;
}

.app-chatbot-container * {
  font-size: small;
}

.app-chatbot-button {
  width: 6vh;
  height: 6vh;
  border: 5px outset darkgray;
  position: fixed; 
  bottom: 3vh;
  z-index: 9999;
  left: 1vh;
  outline: none;
  cursor: pointer;
}

.app-chatbot-button-icon {
  width: 5vh;
  height: 5vh;
  margin-left: -0.8rem;
}

@media (max-width: 600px) {
  .app-chatbot-container {
    transform: scale(0.9) translateY(26px);
  }
}

.dwight-bot-header {
  background: rgb(9,9,121);
  background: linear-gradient(90deg, rgba(9,9,121,1) 22%, rgba(146,215,250,1) 100%);
  color: white;
  height: 25px;
  align-self: center;
  font-size: large;
  text-align: center;
  width: 100%;
}
