a {
  text-decoration: none;
}

a:hover {
  color: orange;
}

html > body > #root {
  height: 100vh;
  overflow: scroll;
}

body, #root {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, button, input, select, textarea {
  font-size: 1.6rem;
}

footer {
  align-items: center;
  background-color: #3b5482;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  justify-content: center;
}

header {
  align-items: center;
  background-color: #3b5482;
  color: white;
  display: flex;
  font-weight: bold;
  grid-area: header;
  justify-content: space-between;
  padding: 2rem;
  text-shadow: 0 0 2px rgba(0,0,0,.3);
}

footer a, .copyright {
  color: white;
  text-align: center;
}

.copyright {
  font-size: 0.6rem;
}

header a:hover, .logout-btn:hover, footer a:hover {
  color: orange;
  cursor: pointer;
} 

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

main {
  align-items: flex-start;
  background-color: #3b5482;
  display: flex;
  flex: 1;
  grid-area: main;
  justify-content: center;
  padding: 45px;
  width: 100%
}

.App {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

.navs a, .logout-btn {
  color: white;
  text-decoration: none;
  margin-left: 16px;
}

.logout-btn {
  background: none;
  border: none;
}

.SmallLogo {
  width: 35px;
}

.view {
  margin: 0 auto;
  max-width: 65%;
  height: 100%;
}